@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/news.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "News";
}

<h1>News</h1>
<input type="button" id="addNews" value="New Post" onclick="location.href = '@Url.Action("Create")'" />
