body
{
    overflow-x: hidden;
}

.clickable
{
    cursor: pointer;
}

.hidden
{
    display: none;
}

.specActive
{
    background-color: #ffffff;
    border-color: #dddddd #dddddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    border-radius: 4px 4px 0 0;
    padding: 3px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none outside none;
}
.specInactive
{
    background-color: #ffffff;
    border-color: #dddddd #dddddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    border-radius: 4px 4px 0 0;
    padding: 3px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none outside none;
    opacity: 0.5;
}


.modal
{
    overflow-y: auto;
    font-weight: bold;
}

.talents
{
    font-size: 10px;
}
.stat
{

}
.playerImg
{
    height: 60px;
    width: 60px;
}
.center
{
    text-align: center;
}
.row
{
    margin-top: 15px;
}