.newsWrapper
{
    border: 1px groove cyan;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}
.newsItem
{
    border: 1px ridge black;
}
.newsTags
{
    font-size: 9px;
}

.newsNewPostWrapper
{
    border: 1px groove cyan;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    
}